<?xml version="1.0"?>
<robot name="simple_6dof">

  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>
  <material name="gray">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="robotA_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <link name="link1">
    <visual>
      <geometry>
        <mesh filename="robotA_arm1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.2515" rpy="0 0 1.5708"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
  </joint>

  <link name="link2">
    <visual>
      <geometry>
        <mesh filename="robotA_arm2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0.1 0 0.225" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
  </joint>

  <link name="link3">
    <visual>
      <geometry>
        <mesh filename="robotA_arm3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 0 0.65" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
  </joint>

  <link name="link4">
    <visual>
      <geometry>
        <mesh filename="robotA_arm4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="joint4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0.0985 0 0.03" rpy="0 0 0"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
  </joint>

  <link name="link5">
    <visual>
      <geometry>
        <mesh filename="robotA_arm5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="joint5" type="revolute">
    <parent link="link4"/>
    <child link="link5"/>
    <origin xyz="0.55515 0 0" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
  </joint>

  <link name="link6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="robotA_arm6.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="joint6" type="revolute">
    <parent link="link5"/>
    <child link="link6"/>
    <origin xyz="0.0478 0 0" rpy="0 0 0"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
  </joint>

  
  <link name="tool0"/>

  <joint name="joint_end" type="fixed">
    <parent link="link6"/>
    <child link="tool0"/>
    <origin xyz="0.0322 0 0" rpy="3.1416 -1.5708 0"/>
  </joint>

</robot>
